.app-header {
  background: #f4f4f4;
  padding: 0;
  padding: 5px 0 0 0;
  text-align: center;
}

.dark .app-header {
  background: #2a2a2a;
}

.logo-badge {
  position: relative;
  top: -7px;
  font-weight: 100;
  font-size: 16px;
  color: #BB79A8;
}

.not-found {
  font-style: italic;
  font-size: 10px;
}

.dark .not-found {
  color: #989898;
}

.custom-attribute {
  margin-bottom: 4px;
}

.custom-attribute .attribute-name {
  color: saddlebrown;
}
.dark .custom-attribute .attribute-name {
  color: #ef9565;
}

.custom-attribute .block-token {
  color: gray;
}

.custom-attribute .attribute-name, .custom-attribute .block-token {
  font-size: 12px;
  display: inline;
  font-family: monospace;
}

.custom-attribute controller-view {
  margin-left: 8px;
  display: block;
}

custom-element {
  margin-top: 2px;
  display: block;
}

custom-element .arrow {
  font-size: 10px;
  color: dimgray;
  cursor: default;
}

custom-element .arrow .right {
  margin-right: 1px;
}

custom-element .property-line {
  white-space: nowrap;
}

custom-element .property-name {
  font-size: 12px;
  color: purple;
  font-family: monospace;
  margin-left: 1px;
}

.dark custom-element .property-name {
  color: #34c7bb;
}
custom-element .value-container {
  position: relative;
}

custom-element .property-editor {
  font-family: monospace;
  font-size: 12px;
  margin: 0;
  height: 12px;
  outline: none;
  border: 1px solid darkgray;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  position: absolute;
  top: 4px;
  left: 2px;
  padding: 0 0 0 2px;
}

custom-element .property-value, custom-element .token-colon {
  font-size: 12px;
  color: dimgray;
  font-family: monospace;
}

custom-element .property-value.null, custom-element .property-value.undefined {
  color: dimgray;
}

custom-element .property-value.boolean {
  color: deeppink;
}

custom-element .property-value.string {
  color: red;
  white-space: nowrap;
}
.dark custom-element .property-value.string {
  color:#cbcbcb;
}

custom-element .property-value.number {
  color: blue;
}

.dark custom-element .property-value.number {
  color: #59a6ca;
}

custom-element .property-value.array {
  color: black;
}

.dark custom-element .property-value.array {
  color: #cbcbcb;
}

custom-element .property-value.object, custom-element .property-value.node {
  color: black;
}

.dark custom-element .property-value.object, custom-element .property-value.node {
  color: #cbcbcb;
}

custom-element ul.properties {
  margin-left: 16px;
}

custom-element .no-properties {
  margin-top: 4px;
  font-size: 10px;
}

.dark custom-element .no-properties {
  color: #989898;
}
